@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
  --cor-primaria: #8595db;
  --cor-segundaria: rgba(0, 0, 0, .5);
  --cor-terceiaria: rgba(5, 5, 5, .9);
}


* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-color: var(--cor-primaria);
  align-items: center;
  display: flex;
  justify-content: center;
}

.relogio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12rem;
  width: 35rem;
  background: transparent;
  border-radius: 0.125rem;
  box-shadow: 0px 8px 10px var(--cor-segundaria)
}


.relogio div {
    height: 11rem;
    width: 10rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cor-terceiaria);
    color: #fff;
    box-shadow: 5px 5px 15px var(--cor-segundaria);
    border-radius: 0.25rem;
    letter-spacing: 0.125rem;

}

.relogio span {
    font-weight: bolder;
    font-size: 4rem;
}

.relogio span.tempo{
        font-size: 1rem;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .relogio {
    height: 27rem;
    width: 12rem;
    flex-direction: column; 
    align-items: center;
    justify-content: space-around;
  }

  .relogio div {
    height: 135px;
    width: 9rem;
  }

  .relogio span.tempo{
    font-size: 1rem;
}

  
 
}